# For dataset
pandas
pyarrow
fastparquet

# For tokenizer
tokenizers
fugashi
unidic_lite

# For (embedding-)model
datasets
# https://huggingface.co/blog/4bit-transformers-bitsandbytes
bitsandbytes
git+https://github.com/huggingface/transformers.git
git+https://github.com/huggingface/peft.git
git+https://github.com/huggingface/accelerate.git

# For siamese-model
sentence_transformers
